[tool.coverage.run]
branch = true
omit = ["**/venv/*"]

[tool.coverage.report]
show_missing = true
exclude_lines = [
    # The default must be restated because the `exclude_lines` option overrides it.
    "pragma: no cover",

    # This is not feasible to test as it requires some really wonky module loading.
    'if __name__ == "__main__":',

    "if TYPE_CHECKING:",
]

[tool.pytest.ini_options]
pythonpath = "programs"
testpaths = "tests/python"

[tool.ruff]
line-length = 100
target-version = "py310"
src = [".", "programs"]
extend-exclude = ["tests/bash/bats-*"]

[tool.ruff.lint]
extend-select = [
    "ANN",   # flake8-annotations
    "ARG",   # flake8-unused-arguments
    "E501",  # line-too-long
    "FA",    # flake8-future-annotations
    "FURB",  # refurb
    "G",     # flake8-logging-format
    "I",     # isort
    "N",     # pep8-naming
    "PIE",   # flake8-pie
    "PLC",   # pylint
    "PT",    # flake8-pytest-style
    "RUF",   # Ruff-specific rules
    "SLF",   # flake8-self
    "TC",    # flake8-type-checking
    "UP",    # pyupgrade
]

ignore = [
    # Disable disallowing the Any type
    "ANN401", # any-type
]

[tool.ruff.lint.per-file-ignores]
# Don't check private-member-access in test files
"tests/*" = ["SLF001"]
