name: Run Bash unit tests

on:
  push:
    branches:
      - master
      - develop
    paths:
      - "i3-restore"
      - "i3-save"
      - "**.bash"
      - "tests/bash/**"
      - ".github/workflows/bash-tests.yml"
  pull_request:
    paths:
      - "i3-restore"
      - "i3-save"
      - "**.bash"
      - "tests/bash/**"
      - ".github/workflows/bash-tests.yml"

jobs:
  bash-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true
      - name: Run Bats unit tests
        run: ./tests/bash/bats-core/bin/bats tests/bash
