name: Check for typos

on:
  push:
    branches:
      - master
      - develop
    paths:
      - "**.bash"
      - "**.json"
      - "**.py"
      - "**.md"
      - "**.yml"
      - "i3-restore"
      - "i3-save"
      - "pyproject.toml"
  pull_request:
    paths:
      - "**.bash"
      - "**.json"
      - "**.py"
      - "**.md"
      - "**.yml"
      - "i3-restore"
      - "i3-save"
      - "pyproject.toml"

jobs:
  codespell:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: codespell
        uses: codespell-project/actions-codespell@v2
