name: Lint + Format

on:
  push:
    branches:
      - master
      - develop
    paths:
      - "i3-restore"
      - "i3-save"
      - "**.py"
      - "**.bash"
      - "pyproject.toml"
      - ".github/workflows/lint-format.yml"
  pull_request:
    paths:
      - "i3-restore"
      - "i3-save"
      - "**.py"
      - "**.bash"
      - "pyproject.toml"
      - ".github/workflows/lint-format.yml"

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Lint with Ruff
        uses: astral-sh/ruff-action@v3
      - name: Format with Ruff
        run: ruff format --check

  sh-checker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Run shell checker
        uses: luizm/action-sh-checker@v0.9.0
        env:
          SHELLCHECK_OPTS: -x --severity=warning
          SHFMT_OPTS: -s
