name: Run Python unit tests

on:
  push:
    branches:
      - master
      - develop
    paths:
      - "**.py"
      - "**/requirements.txt"
      - "pyproject.toml"
      - ".github/workflows/python-tests.yml"
  pull_request:
    paths:
      - "**.py"
      - "**/requirements.txt"
      - "pyproject.toml"
      - ".github/workflows/python-tests.yml"

jobs:
  python-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python 3.13
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: "pip"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt -r tests/python/requirements.txt
      - name: Run Python unit tests
        run: pytest --cov --cov-fail-under=100
